.git
.gitignore
node_modules
.dockerignore
Dockerfile
.next
.env.local
.env.development
.env.test
.env.production
npm-debug.log
yarn-debug.log
yarn-error.log
pids
*.sqlite
*.sqlite3
*.log
*.swp
.DS_Store
*.md
*.txt
*.yml
*.yaml
*.json
*.lock
!package.json
!package-lock.json
dist
build
coverage
logs
*.pot
*.po
*.mo
*.so